<div class="weather">
    <h1>Weather</h1>
    <h2>City: {{this.location.name}}</h2>
    <h2>Country: {{this.location.country}}</h2>
    <h2>Wind Speed: {{this.current.wind_kph}}kph</h2>
    <h2>Wind Direction:{{this.current.wind_dir}}</h2>
    <h2>Degrees:{{this.current.temp_c}}c</h2>
    <h2>{{this.current.condition.text}}</h2>
    <a href="/user/home">Go Back</a>
</div>