<div class="list">
    <h1>Score</h1>
    <a href="/user/home">Go Back</a>
    <a href="/scoresheet/create">Add Scoresheet</a>
    {{#each scoresheets}}
    <table>
        <tr>
            <th>Hole</th>
            {{#each this.holes}}

            <td>{{this}}</td>
            {{/each}}
            <th>Total</th>
            <th>Score</th>
        </tr>

        <tr>
            <th>Par</th>
            {{#each this.par}}
            <td>{{this}}</td>
            {{/each}}
            <td>{{this.parTotal}}</td>
            <td></td>

        </tr>

        <tr>
            <th>Strokes</th>
            {{#each this.strokes}}
            <td>{{this}}</td>
            {{/each}}
            
            <td>{{this.total}}</td>
            <td>{{this.overPar}}</td>
        </tr>


    </table>
    <a href="/scoresheet/{{this._id}}/edit">Edit scoresheet</a>
    <form action="/scoresheet/{{this._id}}/remove" method="POST"><button id="delete-button"
            type="submit">Delete</button></form>
    {{/each}}
    
</div>
<style>
    th,
    tr,
    td {
        border: 1px white solid;
        color: white;
        padding: 10px;
    }

    h1{
        color: white;
    }
</style>